.nav-item {
  margin-left: 3%;
}
.sidebar{
  width: 20%;
  margin-top: 3%;
}
.column {
;
  float: left;
  width: 40%;
  padding: 40px;
}
.card:hover{
  box-shadow: 2px 2px #AAA
}
.row:after {

  content: "";
  display: table;
  clear: both;
}
.row{
  margin-top: -20%;
  margin-left: 30%;
}
