<ul class="nav nav-tabs ">

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home"><i class="material-icons">computer</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="/cart"><i class="material-icons">shopping_cart</i> {{countx}}</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary">Login</button>

  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary">Register</button>

  </li>



</ul>

<div class="card border-light mb-3">
  <div class="card-header">Klant toevoegen</div>
  <div class="card-body">
  </div>
</div>


